// font mixins
@mixin roboto($style, $weight) {
  font-family: 'Roboto';
  font-style: $style;
  font-weight: $weight;
}

@mixin roboto-mono($style, $weight) {
  font-family: 'Roboto Mono';
  font-style: $style;
  font-weight: $weight;
}

@mixin eczar($style, $weight) {
  font-family: 'Eczar';
  font-style: $style;
  font-weight: $weight;
}

