@import "typography";
@import "mixins";
@import "colors";
@import "responsive";

// global objects
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  @include roboto(normal, 400);
  color: $tuna;
}

